<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tagdroid.android"
    android:versionCode="13"
    android:versionName="4.0.0">

    <!-- External storage for caching -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Internet access and status-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Map & Location Access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <permission android:name="com.tagdroid.android.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tagdroid.android.permission.MAPS_RECEIVE" />

    <!-- Push Notification Access -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <permission android:name="com.tagdroid.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.tagdroid.android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:description="@string/about_description"
        android:icon="@drawable/ic_launcher_beta"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tagdroidtheme">

        <!-- Service Google Map V2 -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDv3wzyAx55KoZQ_Fr8LkaZz4mB-BR6xRw" />
        <!--  KEY DEBUG : AIzaSyDv3wzyAx55KoZQ_Fr8LkaZz4mB-BR6xRw -->
        <!--  KEY RELEASE : AIzaSyCOZNvHGe849GZz7f5jRcLG1gBszLSUfMw -->

        <!-- Search VIEW -->
        <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />

        <!--<uses-library android:name="com.google.android.maps" android:required="true" />-->

        <meta-data android:name="PW_APPID" android:value="B1218-30CD2" />
        <meta-data android:name="PW_PROJECT_ID" android:value="A312151031009" />

        <activity android:name="com.arellomobile.android.push.PushWebview"/>
        <activity android:name="com.arellomobile.android.push.MessageActivity"/>
        <activity android:name="com.arellomobile.android.push.PushHandlerActivity"/>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="PACKAGE_NAME"/>
            </intent-filter>
        </receiver>
        <service android:name="com.arellomobile.android.push.PushGCMIntentService"/>




        <activity
            android:label="@string/app_name"
            android:name="com.tagdroid.android.Welcome.WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.tagdroid.android.MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tagdroid.android.Legacy.TestActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <!-- <activity
             android:name=".Legacy.MainActivity" />-->
        <activity android:name="com.tagdroid.android.MainActivity" />
        <activity
            android:name="com.tagdroid.android.Legacy.LoadDBActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!--
        <receiver android:name=".WidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.tagdroid.android.ACTION_SHOW_NEXT" />
                <action android:name="com.tagdroid.android.ACTION_SHOW_PREVIOUS" />
                <action android:name="com.tagdroid.android.ACTION_SHOW_CADRE" />
                <action android:name="com.tagdroid.android.ACTION_SHOW_HEAD" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        --><!-- Configure activity --><!--
        <activity android:name=".WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetDialogActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        -->
    </application>
</manifest>